.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        reina
      .top-items__icons
        =link_to "#", class: 'top-items__icons--link' do
          = icon('fa', 'edit', class: 'top-items__icons--link-edit')
        =link_to "#", class: 'top-items__icons--link' do
          = icon('fa', 'cog', class: 'top-items__icons--link--setting')
  .side-bar__groups
    .side-bar__groups-list
      .side-bar__groups-list-name
        techcamp
      .side-bar__groups-list-new-message
        まだメッセージはありません
      .side-bar__groups-list-name
        techcamp
      .side-bar__groups-list-new-message
        まだメッセージはありません